body {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #6d097a;
}

.bg1 {
  background-image: url("chowder-pattern.jpg");
  background-attachment: fixed;
}

.bg2 {
  background-image: url("mung-daal-pattern.png");
  background-attachment: fixed;
}

.bg3 {
  background-image: url("schnitzel-pattern.png");
  background-attachment: fixed;
}

.bg4 {
  background-image: url("truffles-pattern.png");
  background-attachment: fixed;
}

.bg5 {
  background-image: url("pattern.png");
  background-attachment: fixed;
}

.bg6 {
  background-image: url("background.jpg");
  background-attachment: fixed;
}

.btn-1 {
  background-color: #6d097a;
  color: white;
}

.btn-2 {
  background-color: #d9521c;
  color: white;
}

.btn-3 {
  background-color: #938676;
  color: white;
}

.btn-4 {
  background-color: #9e85bd;
  color: white;
}
